POSTGRES_DB=pawfectfoods
POSTGRES_USER=trades_user
POSTGRES_PASSWORD=change-this-password

APP_FRONTEND_BASE_URL=https://your-domain.example
APP_MAIL_FROM=RFQ@pawfectfoods.co.in
APP_MAIL_CC=dispatch@pawfectfoods.co.uk,pushkar@pawfectfoods.co.in,anubhav@pawfectfoods.co.uk,prash@pawfectfoods.co.uk

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=RFQ@pawfectfoods.co.in
SPRING_MAIL_PASSWORD=change-this-password

APP_TRADE_AUTO_CLOSE_ZONE=Asia/Kolkata
APP_TRADE_AUTO_CLOSE_HOUR=10
